@@ -108,6 +108,16 @@ body {
    font-size: 24px;
}

label {
    font-size: 20px;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .parametro-coluna__senha {
        flex-direction: row;
